<p>consulta-recetas works!</p>
<form #formulario="ngForm" (submit)="getRecetas()">
    <div class="form-group">
      <label for="comidas">Recetas:</label>
      <select id="categoria" name="categoria" class="form-select" [(ngModel)]="categoriaSeleccionada" required
        #comidas="ngModel">
        <option *ngFor="let categoria of categorias.meals" [value]="categoria.strCategory">{{categoria.strCategory}}
        </option>
      </select>
      <div *ngIf="comidas.invalid && comidas.touched" class="text-danger">
        La categoría es obligatoria
      </div>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="formulario.invalid">
      Aceptar
    </button>
  </form>
  <div class="row">
    <div class="col" *ngFor="let comida of recetario.meals">
      <div class="card" style="width: 18rem">
        <img class="card-img-top" [src]="comida.strMealThumb" [alt]="comida.strMeal" />
        <div class="card-body">
          <h5 class="card-title">{{ comida.strMeal }}</h5>
          <p class="card-text">{{ comida.strMeal }}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="alert alert-danger" role="alert" *ngIf="mostrarError">
    No se ha podido acceder a la información de recetas
  </div>
  